<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="db.properties"/>
    <settings>
        <setting name="cacheEnabled" value="true"/>
        <setting name="lazyLoadingEnabled" value="true" />
        <setting name="aggressiveLazyLoading" value="false"/>
        <setting name="multipleResultSetsEnabled" value="true" />
        <setting name="useColumnLabel" value="true" />
        <setting name="useGeneratedKeys" value="false" />
        <setting name="autoMappingBehavior" value="PARTIAL"/>
        <setting name="autoMappingUnknownColumnBehavior" value="WARNING" />
        <setting name="defaultExecutorType" value="SIMPLE" />
        <setting name="defaultStatementTimeout" value="60" />  <!--单位：秒-->
        <setting name="safeRowBoundsEnabled" value="false" />
        <setting name="mapUnderscoreToCamelCase" value="false" />
        <setting name="localCacheScope" value="SESSION" />     <!--会缓存一个会话中执行的所有查询-->
        <setting name="jdbcTypeForNull" value="OTHER" />
        <setting name="lazyLoadTriggerMethods" value="equals,clone,hashCode,toString" />
    </settings>
    <typeAliases>
        <typeAlias alias="roleentity" type="Entity.Role" />      <!--在 MyBatis 中别名 不区分大小写-->
        <typeAlias alias="userentity" type="Entity.User" />
    </typeAliases>
    <plugins>
        <plugin interceptor="Utils.MyStatementHandlerPlugin">
            <property name="dbType" value="mysql"/>
        </plugin>
        <plugin interceptor="Utils.MySqlPageQueryPlugin">
            <!--默认页码-->
            <property name="default.pageNo" value="1"/>
            <!--默认每页条数-->
            <property name="default.pageSize" value="100"/>
            <!--是否启动分页插件功能-->
            <property name="default.useFlag" value="true"/>
            <!--是否检查页码有效性，如果非有效，则抛出异常-->
            <property name="default.checkPageNoLessThanSize" value="false"/>
            <!--默认是否清除最后一个 order by 后的语句-->
            <property name="default.isCleanOrderBy" value="true"/>
        </plugin>
</plugins>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>
    <!--加载映射文件-->
    <mappers>
        <!-- <mapper resource="mapper/RoleMapper.xml"/>
         <mapper class="Mapper.UserMapper"/>    -->
         <package name="Mapper"/>
    </mappers>
 </configuration>